p li ul {
font-family:Courier;
color:#b235db;
}

body {
            font-family:Courier;
            color:#b235db
            margin: 10px;
            padding: 0;
        }
nav {
            padding: 15px;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 205px;
            box-shadow: 2px 0 5px rgba(0,0,0,0.1);
            overflow-y: auto;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul li a {
            text-decoration: none;
            font-size: 1em;
            font-weight: bold;
            padding: 8px 13px;
            display: block;
            border-radius: 10px;
            margin: 10px 0;            
        }
        nav ul li a:hover {
            color: #ce3ffc;
            background-color: #080808;
            border-radius: 50px;
            margin: 5px 
        }
        .content {
            margin-left: 220px;
            padding: 20px;
        }
        .section {
            display: none;
        }
        .section:target {
            display: block;